
:root {
    --primary-color: #36180a; 
    --secondary-color: #144b19; 
    --section-bg-color: #e6e1ba; 
    --section-header-color: #227e6a; 
    --card-background-color: white;
    --nav-background-color: black;
    --nav-text-color: white;
    --nav-hover-color: #144b19;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--section-bg-color);
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
}

nav {
    background-color: var(--nav-background-color);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background: var(--nav-hover-color);
    border-radius: 5px;
    color: var(--nav-text-color);
}

main {
    width: 95%;
    margin: 20px auto;
    gap: 20px;
}

footer {
    margin-top: 20px;
}