@media (min-width: 769px) {
    main {
        position: relative;
        overflow: hidden;
        width: auto;
        height: 100vh;

        margin: 2rem;
    }

    main picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .data, .weather {
        position: absolute;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .data {
        top: 10vh;
        left: 5vw;
    }

    .weather {
        bottom: 10vh;
        right: 5vw;
    }

    .weather-icon {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        display: inline;
    }

    .weather-img {
        display: none;
    }
}
